#activities {
  background-color: #faf4f2;
  padding: 30px 0;
}

.activities__header {
  font-size: 30px;
  text-align: center;
  color: #8c8c8c;
  font-weight: 500;
  margin-bottom: 25px;
}

.activities__content {
  /* margin: 0 40px; */
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* cố định kích thước chiều rộng */
  padding: 40px;
  margin: 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card__img {
  width: 100%;
  border-radius: 10px;
}

.card__title {
  font-weight: bold;
  font-size: 16px;
  margin: 20px 0;
}

.card__desc {
  text-align: center;
  font-size: 14px;
  margin: 15px 0 20px;
  color: #8c8c8c;
  line-height: 1.5;
}

.card__button {
  color: #8c8c8c;
  cursor: pointer;
  border: none;
  background-color: #e8e8e8;
  display: inline-block;
  min-width: 140px;
  width: 160px;
  padding: 12px;
  line-height: 20px;
  border-radius: 999px;
  text-transform: capitalize;
  transition: all 0.25s ease;
}

.card__button:hover {
  background-color: orange;
  color: white;
}

.custom__view-all {
  width: 100%;
  text-align: center;
}

.view-all {
  border: 2px solid currentColor;
  color: #eb7e63 !important;
  background-color: transparent !important;
  margin-top: 25px;

  color: #8c8c8c;
  background-color: #e8e8e8;
  min-width: 140px;
  width: 200px;
  padding: 12px;
}

.figure {
  position: relative;
}

.btn-heart {
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
  border: none;
  position: absolute;
  background-color: whitesmoke;
  right: 20px;
  top: 20px;
  opacity: 0.8;
}

.my-heart {
  padding: 10px;
  color: #e86f51;
}
