header li {
  display: inline;
}

header {
  background-color: #f8e1db;
  margin: 0 auto;
}

header a {
  display: inline-block;
  text-decoration: none;
  color: black;
  /* padding: 10px 20px; */
}

.container {
  width: 1440px;
  max-width: calc(100% - 200px);
  margin: 0 auto;
}
